.header
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    border-bottom: solid 1px #ccc
    opacity: 0
    z-index: 3
    animation: headerDrop 1s ease forwards
    &-logo
        width: 200px
        height: 200px
    .error
        color: red
        font-size: 10px
    &-form
        margin-left: 10px
        width: 50%
        display: flex
        flex-flow: nowrap
        flex-direction: column
        position: relative
        .sugestions
            position: absolute
            background-color: #D9D9D9
            top: 45px
            border-radius: 10px
            padding: 10px
            width: 75%
            left: 20px
            &-itens
                width: 100%
                cursor: pointer
                transition: .3s
                &:hover
                    background-color: gray
                &-name
                    font-size: 15px
        div
            display: flex
            .text
                border: none
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                background-color: #D9D9D9
                padding: 10px
                border-top-left-radius: 16px
                border-bottom-left-radius: 16px
                width: 80%
            &:focus
                outline: solid 1px black
            .button
                border: none
                padding: 10px
                background-color: #e67d21
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                color: #fff
                font-weight: 700
                border-top-right-radius: 16px
                border-bottom-right-radius: 16px
                cursor: pointer
        
    @media (max-width: 470px) 
        flex-direction: column
    

@keyframes headerDrop
    0%
        opacity: 0
        transform: translateY(-200px)
    50%
        transform: translateY(10px)
    75%
        transform: translateY(-5px)
    100%
        opacity: 1
        transform: translateY(0px)